# Application
NODE_ENV=production
PORT=5000
ALLOWED_ORIGINS=http://localhost:3000

# Database
DB_HOST=metro.proxy.rlwy.net
DB_PORT=26635
DB_USERNAME=postgres
DB_PASSWORD=BTNFUqHSNjuNauHXXpktDUvlOLgpmTVc
DB_NAME=railway
DATABASE_URL=postgresql://postgres:BTNFUqHSNjuNauHXXpktDUvlOLgpmTVc@metro.proxy.rlwy.net:26635/railway

# Redis
REDIS_HOST=redis.railway.internal
REDIS_PORT=6379
REDIS_PASSWORD=haHuGwlzRXdIzuzltAyaVSQbRyCwzulf
REDIS_TLS=true
REDIS_URL=redis://default:haHuGwlzRXdIzuzltAyaVSQbRyCwzulf@redis.railway.internal:6379
REDIS_USER=default

# Rate Limiting
RATE_LIMIT=1000

# JWT
JWT_SECRET=dbca118a15afe8378d4055642a5b0022151f20858eb843d1a2b6e60194b79c93adb91458dc4b456212f797c432a302c3da69067dac876b5a57b29df2e4626eda
JWT_EXPIRES_IN=24h

# OTP
OTP_EXPIRY_MINUTES=5
OTP_LENGTH=4

# Cloudinary
CLOUDINARY_CLOUD_NAME=dqo5egjyc
CLOUDINARY_API_KEY=471566671738112
CLOUDINARY_API_SECRET=a0XM_q4B6_1-lFEclpf2HsjWH7g
CLOUDINARY_URL=cloudinary://471566671738112:a0XM_q4B6_1-lFEclpf2HsjWH7g@dqo5egjyc

# Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Apple OAuth
APPLE_CLIENT_ID=
APPLE_TEAM_ID=
